# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Production builds
dist/
client/dist/
server/dist/

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
server/.env
client/.env.local

# Databases
*.db
*.sqlite
server/local.db

# OS Files
.DS_Store
Thumbs.db

# Editor configs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
